body {
  font-family: Roboto, sans-serif;  
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-size: 16px;
  background-color: #eee;
}

div {
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead th,
.primary-button {
  background-color: #009879;
  color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.main-row {
  color: #ffffff;
  background-color: #009879;
}

input {
  padding: 10px 15px;
  min-width: 300px;
  margin: 5px 0;
  font-weight: 700;
}

button {
  background-color: #f9f9f9;
  border-radius: 3px;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  margin: 1.5px 3px;
  cursor: pointer;
  transition: border-color 0.25s;
}